In [20]:
# Utiliser le code suivant pour récuperer le 
import os
print("JAVA_HOME =", os.environ.get("JAVA_HOME"))

JAVA_HOME = /opt/homebrew/opt/openjdk@17/libexec/openjdk.jdk/Contents/Home

In [21]:
import os
os.environ['JAVA_HOME'] = '/opt/homebrew/opt/openjdk@17/libexec/openjdk.jdk/Contents/Home'
import findspark
findspark.init()

In [ ]:
# Import SparkSession from pyspark.sql
from pyspark.sql import SparkSession

# Creation de my_spark
my_spark = SparkSession.builder.appName("my_spark").getOrCreate()

# Print my_spark
print(my_spark)

# Lecture du fichier csv:
ventes_df = my_spark.read.csv("ventes.csv", header=True, inferSchema=True)

ventes_df.show()

<pyspark.sql.session.SparkSession object at 0x10bc667b0>
+--------------+-----------+-----------+-------------+-----------------+------------------+---------------+---------------+---------------+-------------+---------------------+-------------------+---------+--------------+
|id_transaction| client_nom| client_age| client_ville| produit_nom     | produit_categorie| produit_marque| prix_catalogue| magasin_nom   | magasin_type| magasin_region      |         date      | quantite| montant_total|
+--------------+-----------+-----------+-------------+-----------------+------------------+---------------+---------------+---------------+-------------+---------------------+-------------------+---------+--------------+
|           1.0| Alice     |       25.0| Paris       | Ordinateur      | Informatique     | Dell          |          800.0| Boutique Lyon | Physique    |  Auvergne-Rhône-A...|2023-03-12 00:00:00|        2|              |
|           2.0| Bob       |       34.0| Lyon        | Smartphone      | Téléphonie       | Apple         |         1200.0| Boutique Lyon | Physique    |  Auvergne-Rhône-A...|2023-01-27 00:00:00|        5|              |
|           3.0| Alice     |       25.0| Paris       | Montre connectée| Accessoires      | Garmin        |          300.0| E-Shop        | En ligne    |  National        ...|2023-01-09 00:00:00|        1|              |
|           4.0| Alice     |       25.0| Paris       | Smartphone      | Téléphonie       | Apple         |         1200.0| Boutique Paris| Physique    |  Île-de-France   ...|2023-05-10 00:00:00|        5|              |
|           5.0| Alice     |       25.0| Paris       | Montre connectée| Accessoires      | Garmin        |          300.0| Boutique Paris| Physique    |  Île-de-France   ...|2023-06-16 00:00:00|        5|              |
|           6.0| David     |       40.0| Bordeaux    | Smartphone      | Téléphonie       | Apple         |         1200.0| E-Shop        | En ligne    |  National        ...|2023-05-31 00:00:00|        3|              |
|           7.0| Alice     |       25.0| Paris       | Smartphone      | Téléphonie       | Apple         |         1200.0| Boutique Lyon | Physique    |  Auvergne-Rhône-A...|2023-04-19 00:00:00|        3|              |
|           8.0| Charlie   |       29.0| Marseille   | Smartphone      | Téléphonie       | Apple         |         1200.0| Boutique Paris| Physique    |  Île-de-France   ...|2023-03-28 00:00:00|        1|              |
|           9.0| Alice     |       25.0| Paris       | Tablette        | Informatique     | Samsung       |          600.0| Boutique Paris| Physique    |  Île-de-France   ...|2023-04-02 00:00:00|        3|              |
|          10.0| Emma      |       31.0| Toulouse    | Casque audio    | Accessoires      | Sony          |          150.0| Boutique Paris| Physique    |  Île-de-France   ...|2023-04-28 00:00:00|        5|              |
|          11.0| Alice     |       25.0| Paris       | Tablette        | Informatique     | Samsung       |          600.0| Boutique Paris| Physique    |  Île-de-France   ...|2023-05-22 00:00:00|        3|              |
|          12.0| Emma      |       31.0| Toulouse    | Casque audio    | Accessoires      | Sony          |          150.0| Boutique Lyon | Physique    |  Auvergne-Rhône-A...|2023-02-19 00:00:00|         |              |
|          13.0| Alice     |       25.0| Paris       | Smartphone      | Téléphonie       | Apple         |         1200.0| E-Shop        | En ligne    |  National        ...|2023-01-21 00:00:00|        2|              |
|          14.0| Alice     |       25.0| Paris       | Tablette        | Informatique     | Samsung       |          600.0| E-Shop        | En ligne    |  National        ...|2023-04-27 00:00:00|        3|              |
|          15.0| Bob       |       34.0| Lyon        | Casque audio    | Accessoires      | Sony          |          150.0| E-Shop        | En ligne    |  National        ...|2023-02-23 00:00:00|        3|              |
|          16.0| Alice     |       25.0| Paris       | Montre connectée| Accessoires      | Garmin        |          300.0| Boutique Lyon | Physique    |  Auvergne-Rhône-A...|2023-02-13 00:00:00|        5|              |
|          17.0| Bob       |       34.0| Lyon        | Smartphone      | 3                | Apple         |         1200.0| E-Shop        | En ligne    |  National        ...|2023-04-08 00:00:00|        3|              |
|          18.0| Emma      |       31.0| Toulouse    | Smartphone      | Téléphonie       | Apple         |         1200.0| Boutique Lyon | Physique    |  Auvergne-Rhône-A...|2023-03-25 00:00:00|        1|              |
|          19.0| Bob       |       34.0| Lyon        | Ordinateur      | Informatique     | Dell          |          800.0| E-Shop        | En ligne    |  National        ...|2023-04-13 00:00:00|        3|              |
|          20.0| Alice     |       25.0| Paris       | Smartphone      | Téléphonie       | Apple         |         -850.0| Boutique Lyon | Physique    |  Auvergne-Rhône-A...|2023-03-22 00:00:00|        2|              |
+--------------+-----------+-----------+-------------+-----------------+------------------+---------------+---------------+---------------+-------------+---------------------+-------------------+---------+--------------+
only showing top 20 rows

['id_transaction',
 ' client_nom',
 ' client_age',
 ' client_ville',
 ' produit_nom     ',
 ' produit_categorie',
 ' produit_marque',
 ' prix_catalogue',
 ' magasin_nom   ',
 ' magasin_type',
 ' magasin_region      ',
 ' date      ',
 ' quantite',
 ' montant_total']

## Nettoyage des données avec PySpark

### <span style=color:orange > Convertir toutes les valeurs de type string en lowercase.

In [27]:
from pyspark.sql.functions import col, trim, lower

string_cols = [colonne for colonne, data_type in ventes_df.dtypes if data_type == 'string']

for c in string_cols:
    ventes_df = ventes_df.withColumn(c, lower(trim(col(c))))

In [ ]:
# Vérification :

ventes_df.show(5)

+--------------+-----------+-----------+-------------+-----------------+------------------+---------------+---------------+---------------+-------------+---------------------+-------------------+---------+--------------+
|id_transaction| client_nom| client_age| client_ville| produit_nom     | produit_categorie| produit_marque| prix_catalogue| magasin_nom   | magasin_type| magasin_region      |         date      | quantite| montant_total|
+--------------+-----------+-----------+-------------+-----------------+------------------+---------------+---------------+---------------+-------------+---------------------+-------------------+---------+--------------+
|           1.0|      alice|       25.0|        paris|       ordinateur|      informatique|           dell|          800.0|  boutique lyon|     physique| auvergne-rhône-alpes|2023-03-12 00:00:00|        2|              |
|           2.0|        bob|       34.0|         lyon|       smartphone|        téléphonie|          apple|         1200.0|  boutique lyon|     physique| auvergne-rhône-alpes|2023-01-27 00:00:00|        5|              |
|           3.0|      alice|       25.0|        paris| montre connectée|       accessoires|         garmin|          300.0|         e-shop|     en ligne|             national|2023-01-09 00:00:00|        1|              |
|           4.0|      alice|       25.0|        paris|       smartphone|        téléphonie|          apple|         1200.0| boutique paris|     physique|        île-de-france|2023-05-10 00:00:00|        5|              |
|           5.0|      alice|       25.0|        paris| montre connectée|       accessoires|         garmin|          300.0| boutique paris|     physique|        île-de-france|2023-06-16 00:00:00|        5|              |
+--------------+-----------+-----------+-------------+-----------------+------------------+---------------+---------------+---------------+-------------+---------------------+-------------------+---------+--------------+
only showing top 5 rows

### <span style=color:orange > Eliminez les lignes où au moins une colonne est manquante

In [ ]:
# Nombre total de lignes avant le traitement:
print(f"Total lignes : {ventes_df.count()}")

Total lignes : 495

In [ ]:
# Liste des colonnes à tester (toutes sauf la dernière)
colonnes = ventes_df.columns[:-1]

# Condition : au moins une colonne est null ou vide
condition = None
for c in colonnes:
    cond = (col(c).isNull()) | (trim(col(c)) == "")
    condition = cond if condition is None else (condition | cond)

# Appliquer le filtre
ventes_df.filter(condition).show(truncate=False)

+--------------+-----------+-----------+-------------+-----------------+------------------+---------------+---------------+---------------+-------------+---------------------+-------------------+---------+--------------+
|id_transaction| client_nom| client_age| client_ville| produit_nom     | produit_categorie| produit_marque| prix_catalogue| magasin_nom   | magasin_type| magasin_region      | date              | quantite| montant_total|
+--------------+-----------+-----------+-------------+-----------------+------------------+---------------+---------------+---------------+-------------+---------------------+-------------------+---------+--------------+
|12.0          |emma       |31.0       |toulouse     |casque audio     |accessoires       |sony           |150.0          |boutique lyon  |physique     |auvergne-rhône-alpes |2023-02-19 00:00:00|         |              |
|58.0          |emma       |31.0       |toulouse     |tablette         |informatique      |samsung        |600.0          |boutique paris |physique     |île-de-france        |2023-02-18 00:00:00|         |              |
|64.0          |emma       |31.0       |toulouse     |montre connectée |accessoires       |garmin         |300.0          |boutique paris |physique     |île-de-france        |2023-06-08 00:00:00|         |              |
|90.0          |alice      |25.0       |paris        |smartphone       |téléphonie        |apple          |1200.0         |e-shop         |en ligne     |national             |2023-03-26 00:00:00|         |              |
|110.0         |bob        |34.0       |lyon         |tablette         |informatique      |samsung        |600.0          |boutique lyon  |physique     |auvergne-rhône-alpes |2023-01-19 00:00:00|         |              |
|117.0         |emma       |31.0       |toulouse     |tablette         |informatique      |samsung        |600.0          |boutique lyon  |physique     |auvergne-rhône-alpes |2023-04-25 00:00:00|         |              |
|363.0         |emma       |31.0       |toulouse     |smartphone       |téléphonie        |apple          |1200.0         |e-shop         |en ligne     |national             |2023-01-24 00:00:00|         |              |
|446.0         |bob        |34.0       |lyon         |casque audio     |accessoires       |sony           |150.0          |boutique lyon  |physique     |auvergne-rhône-alpes |2023-04-04 00:00:00|         |              |
+--------------+-----------+-----------+-------------+-----------------+------------------+---------------+---------------+---------------+-------------+---------------------+-------------------+---------+--------------+